h1{
    color: aqua;
    font-size: 40px;
    text-align: center;
}
p{
    color: rgb(13, 96, 204);
}
.h2{
    color: rgb(170, 27, 27);
    font-weight: bold;
}
.big{
    font-size: 2rem;
}
p:hover{
    color: green;
}
#second{
    color: red;
}
img{
    width: 50vw;
    height: 100vh;
}